body { background-color: chartreuse;
      text-align: center;
}
h1 {text-align: center;
}
h1, h2, h3 {border-color: deeppink;
   border-width: 5px;
   border-style: double;
}
h1, h2 {color: fuchsia;}
h3 {color: red;}